name: CI
on:  
  push

jobs:
  check_exit_early:
    uses: ./.github/workflows/check_exit_early.yml
  build_deploy:
    if: needs.check_exit_early.outputs.exit != 'true'
    env:  
      SCRIPTS_ENVIRONMENT: "${{ github.ref_type== 'tag' && 'production' || 'development' }}"
    runs-on: ubuntu-latest    
    needs: check_exit_early
    steps:      
      - uses: actions/checkout@v2      
      - name: Run a one-line script
        run: |
          echo ${{ needs.check_exit_early.outputs.exit }}         
          echo $GITHUB_SHA
          echo $SCRIPTS_ENVIRONMENT
  slackNotification:
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
