name: CI
on:  
  push

jobs:
  check_exit_early:
    name: Check exit early
    uses: ./.github/workflows/check_exit_early.yml
  build_deploy:
    if: needs.check_exit_early.outputs.exit != 'true'
    env:  
      SCRIPTS_ENVIRONMENT: "${{ github.ref_type== 'tag' && 'production' || 'development' }}"
    runs-on: ubuntu-latest    
    needs: check_exit_early
    steps:      
      - uses: actions/checkout@v2      
      - name: Run a one-line script
        run: |
          echo ${{ needs.check_exit_early.outputs.exit }}         
          echo $GITHUB_SHA
          echo $SCRIPTS_ENVIRONMENT          
  slack_notification:
    needs: build_deploy
    if: ${{ !cancelled() && needs.check_exit_early.outputs.exit != 'true' }}
    name: Slack Notification
    uses: ./.github/workflows/slack_notification.yml
    with:
      status: ${{ needs.build_deploy.result }}  
    secrets:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
