name: CI
on:  
  push

jobs:
 check_exit_early:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v2           
       with:
         fetch-depth: 0
     - name: Check Exit Early
       id: get-tag
       run: |
          echo $(git describe --tags --exact-match e8d1e1d2f9a53cf9b9e881037e08988ff85b7e83)
          echo ::set-output name=tag::$(git describe --tags --exact-match e8d1e1d2f9a53cf9b9e881037e08988ff85b7e83)
   outputs:
    exit: ${{ github.ref_type	== 'branch' && steps.get-tag.outputs.tag != github.ref_name }}
    tag: ${{ steps.get-tag.outputs.tag }}
 build:
   if: ${{ !needs.check_exit_early.exit }}
   env:  
     SCRIPTS_ENVIRONMENT: "${{ github.ref_type== 'tag' && 'production' || 'development' }}"
   runs-on: ubuntu-latest    
   needs: check_exit_early
   steps:      
     - uses: actions/checkout@v2      
     - name: Run a one-line script
       run: |
         echo ${{ needs.check_exit_early.tag }}
         echo $GITHUB_SHA
         echo $SCRIPTS_ENVIRONMENT
