name: CI
on:  
  push

jobs:
 exit_early:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v2           
       with:
         fetch-depth: 0
     - name: Check Exit Early
       run: echo "::set-output name=tag::$(git describe --tags --exact-match ${{github.ref_name}})"      
 build:
   env:  
     SCRIPTS_ENVIRONMENT: "${{ github.ref_type	== 'tag' && 'production' || 'development' }}"
   runs-on: ubuntu-latest    
   steps:      
     - uses: actions/checkout@v2      
     - name: Run a one-line script
       run: |
         echo ${{ jobs.exit_early.tag }}
         echo $GITHUB_SHA
         echo $SCRIPTS_ENVIRONMENT
