name: CI
on:  
  push

jobs:
 check_exit_early:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v2           
       with:
         fetch-depth: 0
     - name: Check Exit Early
       id: gettag
       run: |          
          echo ::set-output name=tag::$(git describe --tags --exact-match ${{ github.ref_name }})
   outputs:
    exit: ${{ github.ref_type	== 'branch' && steps.gettag.outputs.tag != github.ref_name }}    
 build:
   if: ${{ !needs.check_exit_early.outputs.exit }}
   env:  
     SCRIPTS_ENVIRONMENT: "${{ github.ref_type== 'tag' && 'production' || 'development' }}"
   runs-on: ubuntu-latest    
   needs: check_exit_early
   steps:      
     - uses: actions/checkout@v2      
     - name: Run a one-line script
       run: |         
         echo $GITHUB_SHA
         echo $SCRIPTS_ENVIRONMENT
