name: CI
on:  
  push

jobs:
  build:
    env:  
      SCRIPTS_ENVIRONMENT: "${{ github.ref_type	== 'tag' && 'production' || 'development' }}"
    runs-on: ubuntu-latest    
    steps:      
      - uses: actions/checkout@v2      
      - name: Run a one-line script
        run: |
          echo $GITHUB_SHA
          echo $SCRIPTS_ENVIRONMENT
